<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <div class="div offset-1">
        <h1 class="welcome">Welcome to my first Angular Project</h1>
        <br><br>
        <h2>Web Site Main Ingredients:</h2>
        <p>Pages (HTML) <img src="assets\HTML5_logo.png" class="logo"></p>
        <p>Style Sheets ( Bootstrap and CSS)  <img src="assets\Bootstrap4.png" class="logo">   <img src="assets\CSS3_logo.png" class="logo"></p>
        <p>Computer Code (TypeScript)  <img src="assets\Typescript_logo.png" class="logo"></p>
        <p>Data Storage (Web storage API and API consumption) <img src="assets\API.png" class="api"></p>
    </div>


</body>

</html>