<div class="row my-3">
    <div class="offset-3 col-6">
        <form [formGroup]="addContactForm" (ngSubmit)="addContact()">
            <h1>Add Contact</h1>
            <div class="form-group">
                <label for="contactName">Contact Name</label>
                <input type="text" class="form-control" id="email" placeholder="Contact Name"
                    formControlName="contactName">
                <div class="invalid-feedback d-block"
                    *ngIf="submitted && addContactForm.controls.contactName.hasError('required')">
                    Contact Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="contactEmail">Email Contact</label>
                <input type="email" class="form-control" id="password" placeholder="Email Contact here"
                    formControlName="contactEmail">
                <div class="invalid-feedback d-block"
                    *ngIf="submitted && addContactForm.controls.contactEmail.hasError('required')">
                    Email Contact is required.
                </div>
            </div>
            <div class="form-group">
                <label for="contactNumber">Phone Number</label>
                <input type="text" class="form-control" id="password" placeholder="Eg : +216 24 000 000"
                    formControlName="contactNumber">
                <div class="invalid-feedback d-block"
                    *ngIf="submitted && addContactForm.controls.contactNumber.hasError('required')">
                    The password is required.
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-plus"></i>Add Contact</button>
            <button type="button" class="btn btn-primary btn-block" routerLink="/dashboard"><i class="fas fa-arrow-left"></i> Cancel</button>
        </form>
    </div>
</div>